<div class="container mt-4">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-primary"> <i class="fa fa-plus-circle"> &nbsp;</i> Add contact</p>
            <p class="fst-italic">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Nam repellendus deserunt, atque culpa exercitationem consectetur
                quisquam sequi aspernatur. Voluptatibus modi voluptates dolorum in!
                Necessitatibus iste nihil aperiam molestias assumenda corporis.</p>
        </div>
    </div>
</div>

<!-- condition based spinner loading -->
<div *ngIf="loading">
    <app-spinner></app-spinner>
</div>
<!-- Dispaly erroe message condition based -->
<div *ngIf="!loading && errorMessage">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="h4 text-danger fw-bold">{{errorMessage}}</p>
            </div>
        </div>
    </div>

</div>
<!-- contact form -->

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form [formGroup]="addForm" (ngSubmit)="addFormData()">
                <div class="mb-2">
                    <input type="text"  class="form-control" placeholder="Name" formControlName="name">
                </div>
                <div class="mb-2">
                    <input type="text"  class="form-control" 
                     placeholder="ImageUrl" formControlName="photo">
                </div>
                <div class="mb-2">
                    <input type="email"  class="form-control" placeholder="Emailid" 
                    formControlName="email">
                </div>
                <div class="mb-2">
                    <input type="number"  class="form-control" placeholder="Mobile No" 
                    formControlName="mobile" >
                </div>
                <div class="mb-2">
                    <input type="text"  class="form-control" placeholder="Company" formControlName="company">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="title" formControlName="title">
                </div>
                <div class="mb-2">
                    <select name="" id="" class="form-control"
                     formControlName="group" *ngIf="groups.length >0">
                        <option value="">Select a group</option>
                        <option [value]="group.id"
                        *ngFor="let group of groups">{{group.name}}</option>
                    </select>
                </div>
                <div class="mb-2">
                    <input type="submit" class="btn btn-success" value="create">
                    <a routerLink="/" class="btn btn-warning ms-2">Close</a>
                </div>
               </form>
        </div>
        <div class="col-sm-4">
            <img src="contact.photo" 
            alt="" class="contact-img">
        </div>
    </div>
</div>
